.container-md.my-3,
.container.text-center {
  color: rgb(61, 146, 215);
  font-weight: 500;
}
.row.align-items-center {
  font-size: 1.5rem;
}
span.weather {
  font-size: 1rem;
}
.col-6.align-items-center.text-start {
  font-size: 1rem;
}
.col.degree {
  padding-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
span.degree {
  font-size: 2.5rem;
}
.container {
  color: rgba(26, 26, 104, 0.566);
}

.col.sunny {
  font-size: 50px;
}

.container.text-center {
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

#cityName {
  font-size: 2.7rem;
}
#date {
  font-size: 1.4rem;
  font-weight: 700;
}
.d-flex,
#button,
#button2 {
  margin: 0 auto;
}
div.container-fluid {
  background-color: rgba(61, 146, 215, 0.14);
  border-radius: 5px;
}
#button,
#button2 {
  padding: 2px 5px;
  margin-right: 8px;
  color: rgb(38, 76, 107);
  font-weight: 600;
  background-color: white;
}
#celsius,
#farenheit {
  text-decoration: none;
}
